# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/libs/shared/ui/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/
/dist/

# aws
.serverless

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# ENV
.env

.idea

.vscode

# remove service workers, will be present when running `npm run build`.
apps/company-app/node_modules
apps/company-app/node_modules/**
apps/company-app/dist
apps/company-app/dist/**
apps/company-app/src/uno.css

apps/company-legacyapp/.next
apps/company-legacyapp/src/styles/uno.css
apps/company-legacyapp/public/*.js
apps/company-legacyapp/public/*.js.map
apps/company-legacyapp/public/sitemap.xml

apps/portfolio-app/node_modules
apps/portfolio-app/node_modules/**
apps/portfolio-app/dist
apps/portfolio-app/dist/**
apps/portfolio-app/src/uno.css

#apps/company-legacyapp/public/og/*.jpg
#!apps/company-legacyapp/public/og/top.jpg
apps/portfolio-legacyapp/.next
apps/portfolio-legacyapp/src/styles/uno.css
apps/portfolio-legacyapp/public/*.js
apps/portfolio-legacyapp/public/*.js.map
apps/portfolio-legacyapp/public/sitemap.xml

#apps/portfolio-legacyapp/public/og/*.jpg
#!apps/portfolio-legacyapp/public/og/top.jpg

.nx/cache