.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  min-height: 120px;
  padding: 30px 0;
  margin-top: 24px;

  .contact {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1.8vmin;
  }

  .copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8vmin;
  }
}
