---
import { Icon } from '@org/shared/ui'
import Root from '../layouts/Root.astro'
import me from '../avatar.png'
---

<Root>
  <section>
    <h1 class="font-bold text-3xl font-serif">YUMA Kitamura</h1>
    <p class="my-5 max-w-[460px] text-neutral-800 dark:text-neutral-200">
      On the net, they live under the name of JIYUUJIN. Birthday is November 04, 1988. Born in
      Toyonaka City, Osaka Prefecture. Gender is male. Currently, we are active mainly in the Kansai
      area (Kyoto and Osaka).
    </p>
    <div class="flex items-start md:items-center my-8 flex-col md:flex-row">
      <img alt="YUMA Kitamura" class="rounded-full" src={me} width={100} height={100} />
      <div class="mt-8 md:mt-0 ml-0 md:ml-6 space-y-2 text-neutral-500 dark:text-neutral-400">
        <a
          rel="noopener noreferrer"
          target="_blank"
          href="https://github.com/leerob"
          class="flex items-center gap-2"
        >
          <Icon name="github" />
        </a>
        <a
          rel="noopener noreferrer"
          target="_blank"
          href="https://twitter.com/jiyuujinlab"
          class="flex items-center gap-2"
        >
          <Icon name="twitter" />
        </a>
      </div>
    </div>
    <p class="my-5 max-w-[600px] text-neutral-800 dark:text-neutral-200">
      I started my career as an iOS native app engineer. While acquiring basic coding through work
      as an application engineer, I also worked on improving the UX of the management screen (PHP)
      that runs behind it. I was fascinated by the part that went through the process of improving
      the Web, and gradually stepped into the area of front-end engineers, such as Node.js and other
      front-ends, CSS design, and the use of frameworks.
    </p>
    <ul
      class="flex flex-col md:flex-row mt-8 space-x-0 md:space-x-4 space-y-2 md:space-y-0 font-sm text-neutral-500 dark:text-neutral-400"
    >
      <li>
        <a
          class="flex items-center hover:text-neutral-700 dark:hover:text-neutral-200 transition-all"
          rel="noopener noreferrer"
          target="_blank"
          href="https://twitter.com/jiyuujinlab"
        >
          <Icon name="arrow-up" />
          <p class="h-7">follow me on twitter</p>
        </a>
      </li>
      <li>
        <a
          class="flex items-center hover:text-neutral-700 dark:hover:text-neutral-200 transition-all"
          rel="noopener noreferrer"
          target="_blank"
          href="https://blog.nekohack.me"
        >
          <Icon name="arrow-up" />
          <p class="h-7">get weblog updates</p>
        </a>
      </li>
    </ul>
  </section>
</Root>
