@font-face {
  font-family: Catamaran;
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/Catamaran-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: Catamaran;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Catamaran-Medium.ttf");
  font-display: swap;
}

@font-face {
  font-family: Catamaran;
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Catamaran-SemiBold.ttf");
  font-display: swap;
}

@font-face {
  font-family: Catamaran;
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/Catamaran-Bold.ttf");
  font-display: swap;
}

@font-face {
  font-family: Catamaran;
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/Catamaran-Bold.ttf");
  font-display: swap;
}
