@font-face {
  font-family: 'Catamaran';
  src: url('/fonts/Catamaran-Regular.ttf');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Catamaran';
  src: url('/fonts/Catamaran-Medium.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Catamaran';
  src: url('/fonts/Catamaran-SemiBold.ttf');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Catamaran';
  src: url('/fonts/Catamaran-Bold.ttf');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Catamaran';
  src: url('/fonts/Catamaran-Bold.ttf');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
