@import "node_modules/@nekohack/normalize.css/dist/index.css";

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--secondary);
}

::-webkit-scrollbar-thumb {
  background: var(--text-color);
  border-radius: 0.5rem;
}

:root {
  --text-color: #cdd6e2;
  --secondary: #1e2126;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-weight: 400;
  color: #000;
  background: #fff;

  @media (prefers-color-scheme: dark) {
    color: #fff;
    background: #303030;
  }
}

#__next {
  width: 100%;
  overflow: hidden;
}

a {
  color: #303030;
  text-decoration: none;

  &:visited {
    color: #303030;

    @media (prefers-color-scheme: dark) {
      color: #fefefe;
    }
  }

  @media (prefers-color-scheme: dark) {
    color: #fefefe;
  }
}

* {
  box-sizing: border-box;
  font-family: Catamaran, sans-serif;
}

.navActive {
  position: fixed;
  top: 0;
  left: 0;
  height: 4rem;
  box-shadow: 0 0 16px 0 rgb(0 0 0 / 10%);
  transition: 300ms;
}

.tooltip-overwrite {
  font-size: 1rem !important;
  color: var(--text-color) !important;
  background-color: var(--secondary) !important;
  border-radius: 0.5rem !important;
}
