---
import Root from 'src/layouts/Root.astro'
import { jobs as _jobs } from '@org/shared/data'
import { Job } from '@org/shared/ui'

export const metadata = {
  title: 'About',
  description: "YUMA Kitamura's timeline.",
}

const jobs = Object.entries(_jobs)
  .map(([type, value]) => {
    return value.map((v) => ({
      type,
      ...v,
    }))
  })
  .flat()
---

<Root>
  <section id="timeline">
    <div class="section-wrapper">
      <h1 class="font-bold text-3xl font-serif">Timeline</h1>
      <Job>
        {
          jobs.map((j, index) => (
            <Job.Item key={index} {...j} description={`${j.position}: ${j.comment}`} />
          ))
        }
      </Job>
    </div>
  </section>
</Root>
