---
import Sidebar from '../components/Sidebar.astro'
import '../global.css'
---

<html lang="en" class="text-black bg-[#fff] dark:text-white dark:bg-[#303030]">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YUMA Kitamura</title>
    <meta property="og:title" content="YUMA Kitamura" />
    <meta property="og:description" content="Hi, I am Yuma Kitamura! A Web Developer." />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://yuma-kitamura.nekohack.me/og/top.jpg" />
    <meta property="og:url" content="https://yuma-kitamura.nekohack.me" />
    <meta name="twitter:title" content="YUMA Kitamura" />
    <meta name="twitter:description" content="Hi, I am Yuma Kitamura! A Web Developer." />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@jiyuujinlab" />
    <meta name="twitter:creator" content="@jiyuujinlab" />
    <meta name="twitter:site" content="@jiyuujinlab" />
    <meta name="twitter:image" content="https://yuma-kitamura.nekohack.me/og/top.jpg" />
    <script src="https://cdn.jsdelivr.net/npm/@unocss/runtime"></script>
  </head>
  <body
    class="antialiased max-w-4xl mb-40 flex flex-col md:flex-row mx-4 mt-8 md:mt-20 lg:mt-32 lg:mx-auto"
  >
    <Sidebar />
    <main class="flex-auto min-w-0 mt-6 md:mt-0 flex flex-col px-2 md:px-0">
      <slot />
    </main>
  </body>
</html>
