---
import { Icon } from '@org/shared/ui'
import Root from '../../layouts/Root.astro'

export const metadata = {
  title: 'About',
  description: 'VP of Developer Experience at Vercel.',
}
---

<Root>
  <section>
    <h1 class="font-bold text-3xl font-serif">About me</h1>
    <p class="my-5 text-neutral-800 dark:text-neutral-200">
      Hey, I am YUMA Kitamura. Most folks know me as jiyuujin online.
    </p>
    <div class="text-neutral-800 dark:text-neutral-200">
      <p>
        As EventIn Development, I currently lead the Developer Relations and Documentation teams,
        with a focus on educating and growing the React community.
      </p>
      <p>
        I am passionate about many creative pursuits, including landscapes, portraiture, and of
        course, coding. As a result, this combination of interests has led me to my current role of
        building a developer community.
      </p>
      <p>
        I love building applications in a broad sense, not limited to web or native apps. From
        simple React components to infrastructure, including AWS. The aim of creating these
        applications is one of the great ways to solve the problems we have today. Anyone can be a
        developer or creator, without having to ask permission.
      </p>
      <p class="mb-8">
        Outside of EventIn, we also focus on the technical community to improve our relationships
        with developers and advise on human resource development from a corporate PR standpoint.
        Recently, I have also been actively committing to open source, disseminating technical
        knowledge, and creating content.
      </p>
      <div class="flex flex-col gap-2 md:flex-row md:gap-2">
        <a
          rel="noopener noreferrer"
          target="_blank"
          href="https://github.com/jiyuujin"
          class="flex w-full border border-neutral-200 dark:border-neutral-800 rounded-lg p-4 no-underline items-center text-neutral-800 dark:text-neutral-200 hover:dark:bg-neutral-900 hover:bg-neutral-100 transition-all justify-between"
        >
          <div class="flex items-center">
            <Icon name="github" />
            <div class="ml-3">GitHub</div>
          </div>
          <Icon name="arrow-up" />
        </a>
        <a
          rel="noopener noreferrer"
          target="_blank"
          href="https://twitter.com/jiyuujinlab"
          class="flex w-full border border-neutral-200 dark:border-neutral-800 rounded-lg p-4 no-underline items-center text-neutral-800 dark:text-neutral-200 hover:dark:bg-neutral-900 hover:bg-neutral-100 transition-all justify-between"
        >
          <div class="flex items-center">
            <Icon name="twitter" />
            <div class="ml-3">Twitter</div>
          </div>
          <Icon name="arrow-up" />
        </a>
        <a
          rel="noopener noreferrer"
          target="_blank"
          href="https://www.youtube.com/@nekohack-inc"
          class="flex w-full border border-neutral-200 dark:border-neutral-800 rounded-lg p-4 no-underline items-center text-neutral-800 dark:text-neutral-200 hover:dark:bg-neutral-900 hover:bg-neutral-100 transition-all justify-between"
        >
          <div class="flex items-center">
            <Icon name="youtube" />
            <div class="ml-3">YouTube</div>
          </div>
          <Icon name="arrow-up" />
        </a>
      </div>
    </div>
  </section>
</Root>
