name: Chromatic CI

on:
  # push:
  #   branches:
  #     - main
  pull_request:
    branches:
      - main

jobs:
  chromatic:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.19.0]

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - run: git fetch origin ${{ github.base_ref }} --depth=1

      - id: diff
        run: echo "::set-output name=changed::$(git diff --name-only origin/${{ github.base_ref }} HEAD --relative ./libs/shared/ui/ | wc -l)"
    
      - name: Install Dependencies
        if: ${{ steps.diff.outputs.changed != '0' }}
        run: |
          yarn

      # - name: Chromatic
      #   uses: chromaui/action@latest
      #   if: ${{ steps.diff.outputs.changed != '0' }}
      #   with:
      #     projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
      #     workingDir: libs/shared/ui
      #     exitZeroOnChanges: true
      #     onlyChanged: true
      #   env:
      #     LOG_LEVEL: 'debug'

      - name: Chromatic
        if: ${{ steps.diff.outputs.changed != '0' }}
        run: |
          yarn nx run shared-ui:build-storybook
          yarn chromatic -d ./dist/storybook/shared/ui --project-token ${{ secrets.CHROMATIC_PROJECT_TOKEN }} --exit-zero-on-changes --only-changed
